html{
    background-color: black;
}

.img-header{
    float: right;
    height: 100%;
    opacity: 1; 
    transform: translateY(50px); 
}

p{
    color: white;
    margin: 20px;
}

.presentacion{
    color: white;
    margin-bottom: 200px;
    width: 300px;
    margin-left: 20px;
    border: 3px solid goldenrod;
    background-color: goldenrod;
    padding: 10px;
    border-radius: 50px;
}

.saludo{
    border: 1px solid goldenrod;
    border-radius: 30px;
    margin-left: 20px;
    width: 300px;
    font-size: 18px;
    height: 200px;
}

hr{
    background-color: goldenrod;
}
.section{
    height: 500px;
}

.seccion2{
    background-color: gray;
    height: 600px;
}
.section3{
    height: 600px;
}
.section4{
    height: 700px;
    background-color: gray;
}
.section5{
    height: 200px;
}
h2{
    margin: 20px;
    color: wheat;
    text-align: center;
    margin: 20px;
    font-size: 50px;
    margin-bottom: 60px;
}
#guia{
    background-color: goldenrod;
    text-align: center;
}
.enlace{
    color: black;
    text-decoration: none;

}

.description{
    font-size: 30px;
    text-align: center;
}
.left{
    float: left;

}
.right{
    float: right
}
.education{
    border: 1px solid goldenrod;
    border-radius: 20px;
    color: white;
}
.titulo-educacion{
    margin-left: 80px;
}
.progres-bar{
    height: 50px;
    border-radius: 0.6rem;
    border: 0.2rem solid goldenrod;
    padding: 0.5rem;
    margin: 1rem 0;
}
span{
    background-color: black;
}

.img-skills{
    height: 175px;
    width: 150px;
}
.img-skills2{
    height: 150px;
    width: 150px;
}
.img-skills3{
    height: 150px;
    width: 150px;
}
.img-skills4{
    height: 150px;
    width: 150px;

}
.img-skills5{
    height: 150px;
    width: 150px;
}
.tabla-skills{
    margin-right: 21%;
    margin-left: 21%;
    border-color: goldenrod;
    display: flex;
    justify-content: center;
    align-items: center;
}
#skills{

}
.title-table{
    font-size: 35px;
    text-align: center;
    color: white;
}

.footer-table{
    text-align: center;
    margin-top: 100px;
    font-size: 30px;

}