
body{
    width: 100%;
    margin-left: none;
    background-color: gray;
}

/*Titulo de la paguina*/
h1.presentacion {
    color: black;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    border: 2px solid white;
    background-color: white;
    width: 25%;
    border-radius: 50px;
}

/*Guia principal de navegacion de la pauina*/

section#guia, section#guia{
    text-align: center;
    position: sticky;
    top: 10px
}


section#guia, section#guia > a{
    margin-left: auto;
    margin-right: auto;
    font-size: 20px;
    color: goldenrod;
    text-decoration: none;
}

/*Presentacion*/



/*Mi foto*/
section > div.img-usuario {
    text-align: center;
}

section > div > img{
    border-radius: 50%;
    margin-left: auto;
    margin-right: auto;
    width: 160px;
    height: 180px;
}
