/*Seccion principal de la paguina*/


body{
    background-color: gray;
}

div.img-header{
    float: right;
    margin-top: 65px;
    height: 20%;
    width: 40%;
    transition:all 0.3s ;
}
header section#guia, header section#guia{
    position: fixed;
    margin-left: 60%;
}
header section#guia, header section#guia > a{
    font-size: 20px;
    color: goldenrod;
    text-decoration: none;
}

h1.presentacion {
    color: black;
    text-align: center;
    margin-left: 20%;
    margin-right: 70%;
    border: 2px solid white;
    background-color: white;
    width: 25%;
    border-radius: 50px;
}

p{
    font-size: 18px;
}
section#section1{
    margin-bottom: 250px;
    margin-top: 70px;
    margin-left: 3%;
    margin-right: 45%;
    border: 4px solid white;
    border-radius: 50px;
}

div.saludo > p{
    margin-left: 5px;
    font-size: 40px;
}

/*Seccion2 de la paguina*/
section#section2{
    background-color: white;
    height: 700px;
}

section > div > h2{
    text-align: center;
    font-size: 45px;
} 

section > div > img{
    margin-left: 43%;
    width: 160px;
    height: 180px;
}

section > div > img:hover{
    -webkit-transform: scale(1.4);
    -ms-transform: scale(1.3);
    transform: scale(1.3);
    }
section > p.description{
    text-align: center;
    font-size: 23px;
    margin-top: 100px;
    border: 2px solid black;
    margin-left: 250px;
    margin-right: 250px;
    border-radius: 50px;
}

/*Seccion 3 de la paguina*/
section#section3{
    height: 700px;
}

section#section3 > h2{
    text-align: center;
    font-size: 45px;
}

section#section3 > div > ul {
    margin-left: 15%;
}

section#section3 > div > ul > li{
    margin-bottom: 55px;
    margin-right: 35%;
    margin-left: 5%;
    border-radius: 50px;
    border: 1px solid white; 
}

section#section3 > div > ul > li > p {
    margin-left: 3%;
}

/*seccion4 de la paguina*/

section#section4{
    background-color: white;
    height: 700px;
}
section#section4 > h2 {
    text-align: center;
    font-size: 45px;
}

section#section4 table{
    margin-left: 15%;
    margin-right: 10%;
    width: 70%;
}

section#section4 article p {
    text-align: center;
    font-size: 23px;
}

section#section4 article table tr td > img.img-skills {
    height: 180px;
    width: 180px;
}

/*Seccion5 de la paguina*/
section#section5 {
    height: 200px;
}

section#section5 article {
    border: 2px solid white;
    border-radius: 50px;
    margin-bottom: 11px;
    margin-right: 80%;
}

section#section5 article p {
    margin-left: 2%;
}



